<p-toast></p-toast>
<div class="bg-light min-vh-100 d-flex justify-content-center align-items-center">
  <p-blockUI [blocked]="loading">
    <div class="p-field" *ngIf="loading">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </p-blockUI>
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <h1 class="text-center">Restablecer Contraseña</h1>

              <p >Si el correo proporcionado está registrado en nuestra base de datos, se ha enviado un código temporal para restablecer la contraseña.</p>
              <h5 class="text-center">Correo Electrónico</h5>
              <div class="p-field text-center">
                <input
                  style = "width: 275px !important;"
                  type="text"
                  [(ngModel)]="correoElectronico"
                  pInputText
                  id="correoPass"
                  required
                  autofocus
                  class="form-control common-width mx-auto"
                />
              </div>

              <form [formGroup]="formularioContrasenia">
                <h5 class="text-center">Código</h5>
                <div class="p-field text-center">
                  <input
                    style = "width: 275px !important;"
                    type="text"
                    pInputText
                    formControlName="codigo2FARestartPass"
                    id="codigo2FARestartPass"
                    required
                    placeholder="Ingrese código de 6 dígitos"
                    autofocus
                    class="form-control common-width mx-auto"
                  />
                </div>

                <h5 class="text-center">Nueva contraseña</h5>
                <div class="p-field text-center">
                  <p-password
                    formControlName="nuevaContrasenia"
                    [toggleMask]="true"
                    required="true"
                    class="common-width mx-auto"
                  >
                    <ng-template pTemplate="header">
                      <h6>Ingresa una contraseña</h6>
                    </ng-template>
                    <ng-template pTemplate="footer">
                      <p-divider></p-divider>
                      <p class="mt-2">Consideraciones</p>
                      <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                        <li>Al menos una minúscula</li>
                        <li>Al menos una mayúscula</li>
                        <li>Al menos un número</li>
                        <li>Mínimo 8 caracteres</li>
                      </ul>
                    </ng-template>
                  </p-password>
                </div>

                <h5 class="text-center">Confirmar nueva contraseña</h5>
                <div class="p-field text-center">
                  <p-password
                    formControlName="confirmarContrasenia"
                    required="true"
                    [toggleMask]="true"
                    class="common-width mx-auto"
                  >
                  </p-password>
                </div>
                <div style="text-align: center">
                <span *ngIf="loginErrorMessage" class="text-danger text-center">{{ loginErrorMessage }}</span>
                </div>
                <br>
                <div style="text-align: center">

                    <button type="submit" cButton class="px-4" color="danger" style="color: white" (click)="cancelar()">
                      Cancelar
                    </button>
                    <button type="submit" cButton class="px-4" style="margin-left: 15px" color="primary" (click)="confirmar()">
                      Confirmar
                    </button>
                </div>
              </form>

            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
