<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left"> </ng-template>
    <ng-template pTemplate="right">
      <button
        pButton
        pRipple
        label="Nueva"
        icon="pi pi-plus"
        [disabled]="!activarCreate"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="metodosPago"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['nombre', 'descripcion']"
    [(selection)]="selectedMetodosPago"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Administrar Métodos de Pago</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="filterGlobal($event, dt)"
            placeholder="Buscar..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>

        <th pSortableColumn="nombre">
          Nombre <p-sortIcon field="nombre"></p-sortIcon>
        </th>
        <th pSortableColumn="descripcion">
          Descripción <p-sortIcon field="descripcion"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-metodoPago>
      <tr>

        <td>{{ metodoPago.nombre }}</td>
        <td>{{ metodoPago.descripcion }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2 medium-button"
            (click)="editMetodoPago(metodoPago); $event.stopPropagation()"
          ></button>
          <button
            pButton
            pRipple
            [disabled]="!activarCreate"
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning medium-button"
            (click)="deleteMetodoPago(metodoPago); $event.stopPropagation()"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        En total existen {{ metodosPago ? metodosPago.length : 0 }} registros.
      </div>
    </ng-template>
    <p-blockUI [blocked]="loading">
      <div class="p-field" *ngIf="loading">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </p-blockUI>
  </p-table>
</div>

<p-dialog
  [(visible)]="metodoPagoDialog"
  [style]="{ width: '500px' }"
  header="Método de Pago Detalle"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        pInputText
        id="nombre"
        [(ngModel)]="metodoPago.nombre"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !metodoPago.nombre"
      >Nombre es requerido.</small
      >
    </div>
    <div class="p-field">
      <label for="descripcion">Descripción</label>
      <input
        type="text"
        pInputText
        id="descripcion"
        [(ngModel)]="metodoPago.descripcion"
        required
        autofocus
      />

    </div>


    <p-blockUI [blocked]="loading">
      <div class="p-field" *ngIf="loading">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </p-blockUI>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      [disabled]="!activarCreate"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      [disabled]="!activarCreate"
      (click)="saveMetodoPago()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
