<p-toast></p-toast>

<div class="card">

    <p-table
        #dt
        [value]="audits"
        [(selection)]="selectedAudits"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [showCurrentPageReport]="true"
        (onSort)="onSort($event)"
        [customSort]="true"
    >
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Historial de Actividad</h5>

            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">

                </th>
                <th pSortableColumn="entityId">
                    <div>
                        ID Registro
                        <p-sortIcon field="entityId"></p-sortIcon>
                        <span class="p-input-icon-left" style="display: block; margin-top: 4px;">
                      <i class="pi pi-search"></i>
                      <input
                              pInputText
                              type="text"
                              (input)="filterGlobal($event, 'entityId')"
                              (click)="$event.stopPropagation()"
                              style="width: 80%;"
                      />
                    </span>
                    </div>
                </th>
                <th pSortableColumn="entityName">
                    <div>
                        Entidad
                        <p-sortIcon field="entityName"></p-sortIcon>
                        <span class="p-input-icon-left" style="display: block; margin-top: 4px;">
                      <i class="pi pi-search"></i>
                      <input
                              pInputText
                              type="text"
                              (input)="filterGlobal($event, 'entityName')"
                              (click)="$event.stopPropagation()"
                              style="width: 80%;"
                      />
                    </span>
                    </div>
                </th>
                <th pSortableColumn="createdDate">
                    <div>
                        Fecha
                        <p-sortIcon field="createdDate"></p-sortIcon>
                        <span class="p-input-icon-left" style="display: block; margin-top: 4px;">
                      <i class="pi pi-search"></i>
                      <input
                              pInputText
                              type="text"
                              (input)="filterGlobal($event, 'createdDate')"
                              (click)="$event.stopPropagation()"
                              style="width: 80%;"
                      />
                    </span>
                    </div>
                </th>
                <th pSortableColumn="createdBy">
                    <div>
                        Usuario
                        <p-sortIcon field="createdBy"></p-sortIcon>
                        <span class="p-input-icon-left" style="display: block; margin-top: 4px;">
          <i class="pi pi-search"></i>
          <input
                  pInputText
                  type="text"
                  (input)="filterGlobal($event, 'createdBy')"
                  (click)="$event.stopPropagation()"
                  style="width: 80%;"
          />
        </span>
                    </div>
                </th>
                <th pSortableColumn="operation">
                    <div>
                        Operación
                        <p-sortIcon field="operation"></p-sortIcon>
                        <span class="p-input-icon-left" style="display: block; margin-top: 4px;">
          <i class="pi pi-search"></i>
          <input
                  pInputText
                  type="text"
                  (input)="filterGlobal($event, 'operation')"
                  (click)="$event.stopPropagation()"
                  style="width: 80%;"
          />
        </span>
                    </div>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-audit>
            <tr>
                <td>
                </td>
                <td>{{ audit.entityId }}</td>
                <td>{{ audit.entityName }}</td>
                <td>{{ formatDate(audit.createdDate) }}</td>
                <td>{{ audit.createdBy }}</td>
                <td>{{ audit.operation }}</td>
                <td>
                    <button
                            pButton
                            pRipple
                            icon="pi pi-eye"
                            class="p-button-rounded p-button-p-button-success medium-button"
                            (click)="viewAuditEntity(audit); $event.stopPropagation()"
                    ></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <p-blockUI [blocked]="loading">
                <div class="p-field" *ngIf="loading">
                    <p-progressSpinner></p-progressSpinner>
                </div>
            </p-blockUI>
            <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" [first]="first"
                         (onPageChange)="onPageChange($event)"></p-paginator>
            <div class="p-d-flex p-ai-center p-jc-between">
                En total existen {{ totalRecords ? totalRecords : 0 }} registros.
            </div>
        </ng-template>

    </p-table>
</div>

<p-dialog
        [(visible)]="entityAuditDialog"
        [style]="{ width: '500px' }"
        header="Detalle Historial de Actividad"
        [modal]="true"
        styleClass="p-fluid"
>
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="registryId">ID Registro</label>
            <input
                    type="text"
                    pInputText
                    id="registryId"
                    [(ngModel)]="entityAudit.entityId"
                    readonly
                    autofocus
            />
        </div>
        <div class="p-field">
            <label for="entityName">Entidad</label>
            <input
                    type="text"
                    pInputText
                    id="entityName"
                    [(ngModel)]="entityAudit.entityName"
                    readonly
                    autofocus
            />
        </div>
        <div class="p-field">
            <label for="createdDate">Fecha</label>
            <input
                    type="text"
                    pInputText
                    id="createdDate"
                    [(ngModel)]="entityAudit.createdDate"
                    readonly
            />
        </div>

        <div class="p-field">
            <label for="usuario">Usuario</label>
            <input
                    type="text"
                    pInputText
                    id="usuario"
                    [(ngModel)]="entityAudit.createdBy"
                    readonly
                    autofocus
            />
        </div>

        <div class="p-field">
            <label for="operation">Operación</label>
            <input
                    type="text"
                    pInputText
                    id="operation"
                    [(ngModel)]="entityAudit.operation"
                    readonly
                    autofocus
            />
        </div>
        <div class="p-field">
            <label for="newValue">Valor Actual</label>
            <textarea pInputTextarea id="newValue" readonly [(ngModel)]="entityAudit.newValue"></textarea>
            <a href="javascript:void(0)" (click)="showMore(entityAudit.newValue, 'Valor Actual')" class="ver-mas-link">Ver más</a>
        </div>

        <div class="p-field">
            <label for="oldValue">Valor Anterior</label>
            <textarea pInputTextarea id="oldValue" readonly [(ngModel)]="entityAudit.oldValue"></textarea>
            <a href="javascript:void(0)" (click)="showMore(entityAudit.oldValue, 'Valor Anterior')" class="ver-mas-link">Ver más</a>
        </div>

        <p-blockUI [blocked]="loading">
            <div class="p-field" *ngIf="loading">
                <p-progressSpinner></p-progressSpinner>
            </div>
        </p-blockUI>
    </ng-template>

    <ng-template pTemplate="footer">
        <button
                pButton
                pRipple
                label="Cerrar"
                icon="pi pi-times"
                class="p-button-text"
                (click)="hideDialog()"
        ></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="moreDialogVisible" [style]="{ width: '980px' }" header="{{tituloVerMas}}" [modal]="true">
    <ng-template pTemplate="content">
        <div class="p-field">
            <textarea pInputTextarea rows="20" cols="100" readonly [(ngModel)]="moreDialogContent"></textarea>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton label="Cerrar" icon="pi pi-times" (click)="moreDialogVisible = false"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

