<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
  </symbol>
</svg>

<c-row ngPreserveWhitespaces>

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Usuario</strong>
      </c-card-header>
      <c-card-body>
        <c-row class="mb-3">
          <label cLabel="col" class="col-sm-2" for="inputUrlFotoPerfil">
            Foto de Perfil
          </label>
          <c-col [sm]="10">
            <img *ngIf="usuario.urlFotoPerfil" [src]="usuario.urlFotoPerfil" alt="Foto de Perfil" style="max-width: 100%; max-height: 200px;"/>
            <img *ngIf="!usuario.urlFotoPerfil" src="https://t4.ftcdn.net/jpg/04/73/25/49/360_F_473254957_bxG9yf4ly7OBO5I0O5KABlN930GwaMQz.jpg" alt="Foto de Perfil" style="max-width: 100%; max-height: 200px;"/>
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" class="col-sm-2" for="inputNombre">
            Rol
          </label>
          <c-col [sm]="10">
            <input cFormControl id="inputNombre" type="text" *ngIf="usuario.rol != undefined" [(ngModel)]="usuario.rol.nombre" />
            <input cFormControl id="inputNombre" type="text"  *ngIf="usuario.rol == undefined"/>
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" class="col-sm-2" for="inputNombre">
            Nombres
          </label>
          <c-col [sm]="10">
            <input cFormControl id="inputNombre" type="text" [(ngModel)]="usuario.nombres" />
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" class="col-sm-2" for="inputDescripcion">
            Apellidos
          </label>
          <c-col [sm]="10">
            <input cFormControl id="inputDescripcion" type="text" [(ngModel)]="usuario.apellidos" />
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" class="col-sm-2" for="inputDescripcion">
            Teléfono
          </label>
          <c-col [sm]="10">
            <input cFormControl id="inputDescripcion" type="text" [(ngModel)]="usuario.telefono" />
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" class="col-sm-2" for="inputDescripcion">
            Dirección
          </label>
          <c-col [sm]="10">
            <input cFormControl id="inputDescripcion" type="text" [(ngModel)]="usuario.direccion" />
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" class="col-sm-2" for="inputDescripcion">
            Referencia Personal
          </label>
          <c-col [sm]="10">
            <input cFormControl id="inputDescripcion" type="text" [(ngModel)]="usuario.referenciaPersonal" />
          </c-col>
        </c-row>

        <c-row class="mb-3">
          <label cLabel="col" class="col-sm-2" for="inputDescripcion">
            Usuario
          </label>
          <c-col [sm]="10">
            <input cFormControl id="inputDescripcion" type="text" [(ngModel)]="usuario.usuario" />
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" class="col-sm-2" for="inputDescripcion">
            Correo Electrónico
          </label>
          <c-col [sm]="10">
            <input cFormControl id="inputDescripcion" type="text" [(ngModel)]="usuario.correoElectronico" />
          </c-col>
        </c-row>

        <c-row class="mb-3">
          <label cLabel="col" class="col-sm-2" for="inputDescripcion">
            Sobrenombre
          </label>
          <c-col [sm]="10">
            <input cFormControl id="inputDescripcion" type="text" [(ngModel)]="usuario.sobrenombre" />
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" class="col-sm-2" for="inputDescripcion">
            Documento Identificación
          </label>
          <c-col [sm]="10">
            <input cFormControl id="inputDescripcion" type="text" [(ngModel)]="usuario.documentoIdentificacion" />
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" class="col-sm-2" for="inputUrlFotoPerfil">
            Documento Senecyt
          </label>
          <c-col [sm]="10">
            <img *ngIf="usuario.urlFotoSenecytDoc" [src]="usuario.urlFotoSenecytDoc" alt="Documento Senecyt" style="max-width: 100%; max-height: 200px;"/>
            <img *ngIf="!usuario.urlFotoSenecytDoc" src="https://t4.ftcdn.net/jpg/04/73/25/49/360_F_473254957_bxG9yf4ly7OBO5I0O5KABlN930GwaMQz.jpg" alt="Foto de Perfil" style="max-width: 100%; max-height: 200px;"/>
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" class="col-sm-2" for="inputUrlFotoPerfil">
            Foto Record Policial
          </label>
          <c-col [sm]="10">
            <img *ngIf="usuario.urlFotoRecordPolicial" [src]="usuario.urlFotoRecordPolicial" alt="Foto de Perfil" style="max-width: 100%; max-height: 200px;"/>
            <img *ngIf="!usuario.urlFotoRecordPolicial" src="https://t4.ftcdn.net/jpg/04/73/25/49/360_F_473254957_bxG9yf4ly7OBO5I0O5KABlN930GwaMQz.jpg" alt="Foto de Perfil" style="max-width: 100%; max-height: 200px;"/>
          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" class="col-sm-2" for="inputDescripcion">
            Estado
          </label>
          <c-col [sm]="10">
            <input cFormControl id="inputDescripcion" type="text" [(ngModel)]="usuario.estado" />
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
  <c-alert
[visible]="visible" color="success" class="d-flex align-items-center">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
      <use xlink:href="#check-circle-fill" />
  </svg>
  <div>Operación realizada con éxito</div>
  <ng-template cTemplateId="alertButtonCloseTemplate">
    <button (click)="visible=false" cButtonClose white></button>
  </ng-template>
</c-alert>

<c-alert [visible]="danger" color="danger" class="d-flex align-items-center">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
      <use xlink:href="#exclamation-triangle-fill" />
  </svg>
  <div>No se ha podido realizar la operación requerida</div>
</c-alert>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Usuarios</strong>
      </c-card-header>
      <c-card-body>
        <form cForm>
          <table cTable>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Usuario</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Correo</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ usuario.usuario }}</td>
                <td>{{ usuario.nombres }}</td>
                <td>{{ usuario.apellidos }}</td>
                <td>{{ usuario.correoElectronico }}</td>
                <td>{{ usuario.estado }}</td>
                <td>
                  <button cButton color="warning" (click)="setDatos(usuario)">VER</button>
                  <button cButton color="success" (click)="activar(usuario.id)" style="margin-left: 10px;">ACTIVAR</button>
                  <button cButton color="danger" (click)="delete(usuario.id)" style="margin-left: 10px;">ELIMINAR</button>
                </td>
                
              </tr>
            </tbody>
          </table>
        </form>
      </c-card-body>
    </c-card>
  </c-col>

</c-row>
