<p-toast></p-toast>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <p-blockUI [blocked]="loading">
    <div class="p-field" *ngIf="loading">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </p-blockUI>
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form [formGroup]="loginForm" cForm>
                <h1>AvalonPlus</h1>
                <p class="text-medium-emphasis">Empresa líder en conserjería médica integral internacional</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input formControlName="username" autoComplete="username" cFormControl placeholder="Usuario o correo electrónico"/>
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>

                  <input formControlName="password" autoComplete="current-password" cFormControl placeholder="Contraseña"
                         type="password"/>
                </c-input-group>
                <span *ngIf="loginError" class="text-danger">{{ loginErrorMessage }}</span>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" (click)="login()">
                      Login
                    </button>
                  </c-col>
                  <c-col xs="6" class="text-right">
                    <a style="color: #033E80; cursor: pointer" (click)="showForgotPasswordDialog()">Olvidé mi contraseña</a>
                  </c-col>
                  <!-- ... otros botones ... -->
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card class="image-card">
            <c-card-body class="image-body">
              <img src="assets/img/brand/Isotipo1.png" alt="SignUp Image"
                   class="img-fluid"/>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
<p-dialog [(visible)]="dosFADialog" [style]="{width: '500px'}" header="Código Doble Autenticación" [modal]="true"
          styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="codigo2FA">Código 2FA</label>
      <input
        type="text"
        pInputText
        id="codigo2FA"
        [(ngModel)]="inputDosFa"
        required
        placeholder="Ingrese código de 6 dígitos"
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !inputDosFa"
      >Código 2FA es requerido.</small
      >
    </div>
    <span *ngIf="verificationCodeMessage" class="text-danger">{{ verificationCodeMessage }}</span>

    <p-blockUI [blocked]="loading">
      <div class="p-field" *ngIf="loading">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </p-blockUI>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="button-container" style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
      <button
        pButton
        style="width: 250px"
        label="Confirmar"
        icon="pi pi-check"
        type="button"
        (click)="verificarCodigo()"
      ></button>
      <button
        pButton
        style="width: 250px"
        label="Reenviar código"
        icon="pi pi-refresh"
        class="p-button-text"
        (click)="reenviarCodigo()"
      ></button>
    </div>
  </ng-template>
</p-dialog>
<p-dialog [(visible)]="forgotPassDialog" [style]="{width: '500px'}" header="Reestablecer contraseña" [modal]="true"
          styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="correoElectronico">Correo electrónico</label>
      <input
        type="text"
        pInputText
        id="correoElectronico"
        [(ngModel)]="inputCorreo"
        required
        placeholder="Ingrese correo electrónico"
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !inputCorreo"
      >Correo electrónico es requerido.</small
      >
    </div>
    <span *ngIf="verificationCodeMessage" class="text-danger">{{ verificationCodeMessage }}</span>

    <p-blockUI [blocked]="loading">
      <div class="p-field" *ngIf="loading">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </p-blockUI>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="button-container" style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
      <button
        pButton
        style="width: 250px"
        label="Enviar"
        icon="pi pi-check"
        type="button"
        (click)="enviarCodigoPorCorreo()"
      ></button>
    </div>
  </ng-template>
</p-dialog>


<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
