<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <div>
        <h5><strong>Cliente:</strong> {{ clientePoliza?.cliente?.nombreUsuario }}</h5>
        <h5><strong>Poliza:</strong> {{ clientePoliza?.poliza?.nombre }}</h5>
      </div>
    </ng-template>

    <ng-template pTemplate="right">
      <button pButton pRipple label="Nueva Carga Familiar" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()" [disabled]="noMembresia" *ngIf="validarCreacion"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="cargasFamiliares"
           [(selection)]="selectedCargasFamiliares"
           [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
           [showCurrentPageReport]="true"
           (onSort)="onSort($event)"
           [customSort]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Administrar Cargas Familiares</h5>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="filterGlobal($event, dt)" placeholder="Buscar..."/>
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="numeroCertificado">
          Num. Cert.
          <p-sortIcon field="numeroCertificado"></p-sortIcon>
        </th>
        <th pSortableColumn="cliente">Nombres
          <p-sortIcon field="cliente"></p-sortIcon>
        </th>
        <th pSortableColumn="cliente">Apellidos
          <p-sortIcon field="cliente"></p-sortIcon>
        </th>
        <th pSortableColumn="cliente">Correo Electrónico
          <p-sortIcon
            field="cliente"></p-sortIcon>
        </th>
        <th pSortableColumn="cliente">
          Nombre Usuario
          <p-sortIcon field="cliente"></p-sortIcon>
        </th>
        <th pSortableColumn="parentesco">Parentesco
          <p-sortIcon field="parentesco"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cargaFamiliar>
      <tr>
        <td>
          <p-tableCheckbox [value]="cargaFamiliar"></p-tableCheckbox>
        </td>
        <td>{{ cargaFamiliar.numeroCertificado }}</td>
        <td>{{ cargaFamiliar.cliente.nombres }} {{ cargaFamiliar.cliente.nombresDos }}</td>
        <td>{{ cargaFamiliar.cliente.apellidos }} {{ cargaFamiliar.cliente.apellidosDos }}</td>
        <td>{{ cargaFamiliar.cliente.correoElectronico }}</td>
        <td>{{ cargaFamiliar.cliente.nombreUsuario }}</td>
        <td>{{ cargaFamiliar.parentesco }}</td>
        <td style="text-align: right;">
          <button [disabled]="noMembresia" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2 small-button"
                  (click)="editCargaFamiliar(cargaFamiliar); $event.stopPropagation()"></button>
          <button [disabled]="noMembresia" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning small-button" *ngIf="validarEnable"
                  (click)="deleteCargaFamiliar(cargaFamiliar); $event.stopPropagation()"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <p-blockUI [blocked]="loading">
        <div class="p-field" *ngIf="loading">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </p-blockUI>
      <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" [first]="first"
                   (onPageChange)="onPageChange($event)"></p-paginator>
      <div class="p-d-flex p-ai-center p-jc-between">
        En total existen {{ totalRecords ? totalRecords : 0 }} registros.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="cargaFamiliarDialog" [style]="{width: '900px'}" header="Detalle de Carga Familiar" [modal]="true"
          styleClass="p-fluid">
  <ng-template pTemplate="content">
    <p-accordion>
      <p-accordionTab header="Datos Cliente" [selected]="true">
        <p-divider align="left">
          <b>Seleccionar un cliente</b>

        </p-divider>
        <div>
          <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-6">
              <p-autoComplete
                [(ngModel)]="selectedCliente"
                [suggestions]="filteredClientes"
                (completeMethod)="filterClientes($event)"
                field="nombreUsuario"
                [dropdown]="true"
                [appendTo]="'body'"
                placeholder="Filtrar por Cliente">
              </p-autoComplete>
            </div>
          </div>
        </div>
        <p-divider align="center" *ngIf="!selectedCliente  && !cargaFamiliar?.id">
          <b> Si no existe </b>
        </p-divider>
        <p-divider align="left" *ngIf="!selectedCliente  && !cargaFamiliar?.id">
          <b>Crear cliente</b>
        </p-divider>
        <div *ngIf="!selectedCliente && !cargaFamiliar?.id">
          <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-6">
              <div class="p-field">
                <label for="nombres">Nombre Uno</label>
                <input type="text" pInputText id="nombres" [(ngModel)]="cargaFamiliar.nombres" required autofocus/>
                <small class="p-invalid" *ngIf="submitted && !cargaFamiliar.nombres">Nombre uno is required.</small>
              </div>
            </div>

            <div class="p-col-12 p-md-6">
              <div class="p-field">
                <label for="nombres">Nombre Dos</label>
                <input type="text" pInputText id="nombresDos" [(ngModel)]="cargaFamiliar.nombresDos"
                       autofocus/>
              </div>
            </div>
          </div>
          <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-6">
              <div class="p-field">
                <label for="apellidos">Apellido Uno</label>
                <input type="text" pInputText id="apellidos" [(ngModel)]="cargaFamiliar.apellidos" required autofocus/>
                <small class="p-invalid" *ngIf="submitted && !cargaFamiliar.apellidos">Apellido uno is required.</small>
              </div>
            </div>
            <div class="p-col-12 p-md-6">
              <div class="p-field">
                <label for="apellidosDos">Apellido Dos</label>
                <input type="text" pInputText id="apellidosDos" [(ngModel)]="cargaFamiliar.apellidosDos"
                       autofocus/>
              </div>
            </div>
          </div>

          <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-6">
              <div class="p-field">
                <label for="tipoIdentificacion">Tipo de Identificación</label>
                <p-dropdown
                  id="tipoIdentificacion"
                  [options]="tipoDocumentoIdentOptions"
                  [(ngModel)]="cargaFamiliar.tipoIdentificacion"
                  optionLabel="value"
                  optionValue="label"
                  placeholder="Seleccione un tipo de identificación">
                </p-dropdown>
                <small class="p-invalid" *ngIf="submitted && !cargaFamiliar.tipoIdentificacion">Tipo de identificación es
                  requerido.</small>
              </div>
            </div>
            <div class="p-col-12 p-md-6">
              <div class="p-field">
                <label for="numeroIdentificacion">Número de Identificación</label>
                <input type="text" pInputText id="numeroIdentificacion" [(ngModel)]="cargaFamiliar.numeroIdentificacion"
                       required/>
                <small class="p-invalid" *ngIf="submitted && !cargaFamiliar.numeroIdentificacion">Número de identificación es
                  requerido.</small>
              </div>
            </div>
          </div>

          <div class="p-field">
            <label class="p-mb-3">Correo Electrónico</label>
            <input type="text" pInputText [(ngModel)]="cargaFamiliar.correoElectronico"/>
          </div>

          <div class="p-field">
            <label for="fechaNacimiento">Fecha de Nacimiento</label>
            <p-calendar [(ngModel)]="cargaFamiliar.fechaNacimiento" dateFormat="dd/mm/yy"
                        [showIcon]="true"></p-calendar>
            <small class="p-invalid" *ngIf="submitted && !cargaFamiliar.fechaNacimiento">Fecha de nacimiento es
              requerido.</small>
          </div>

          <div class="p-field">
            <label class="p-mb-3">Número Teléfono</label>
            <input type="text" pInputText [(ngModel)]="cargaFamiliar.numeroTelefono"/>
          </div>

          <div class="p-field" *ngIf="cargaFamiliar?.id">
            <label class="p-mb-3">Nombre Usuario</label>
            <input type="text" pInputText [(ngModel)]="cargaFamiliar.nombreUsuario"/>
          </div>

          <div class="p-field">
            <label for="direccionUno">Dirección</label>
            <input
              type="text"
              pInputText
              id="direccionUno"
              [(ngModel)]="direccion.direccionUno"
              required
              autofocus
            />
            <small class="p-invalid" *ngIf="submitted && !direccion.direccionUno"
            >Dirección uno es required.</small
            >
          </div>

          <div class="p-field">
            <label for="direccionDos">Dirección (2)</label>
            <input
              type="text"
              pInputText
              id="direccionDos"
              [(ngModel)]="direccion.direccionDos"
              required
              autofocus
            />
            <small class="p-invalid" *ngIf="submitted && !direccion.direccionDos"
            >Dirección dos es required.</small
            >
          </div>

          <div class="p-field">
            <label for="paisesId">País</label>
            <p-autoComplete
              [(ngModel)]="pais"
              [showEmptyMessage]="true"
              [suggestions]="filteredPaises"
              (completeMethod)="filterPaises($event)"
              dropdown="true"
              field="nombre"
              (ngModelChange)="loadEstados()"
              [minLength]="1"
              [appendTo]="'body'"
              required
            ></p-autoComplete>
            <small class="p-invalid" *ngIf="submitted && !pais"
            >País es requerido.</small
            >
          </div>

          <div class="p-field">
            <label for="asesoresId">Estado</label>
            <p-autoComplete
              [(ngModel)]="estado"
              [showEmptyMessage]="true"
              [suggestions]="filteredEstados"
              (completeMethod)="filterEstados($event)"
              [readonly]="!pais"
              dropdown="true"
              field="nombre"
              [minLength]="1"
              [appendTo]="'body'"
              required
            ></p-autoComplete>
            <small class="p-invalid" *ngIf="submitted && !estado">
              Estado es requerido.</small
            >
          </div>

          <div class="p-field">
            <label for="ciudad">Ciudad</label>
            <input
              type="text"
              pInputText
              id="ciudad"
              [(ngModel)]="direccion.ciudad"
              required
              autofocus
            />
            <small class="p-invalid" *ngIf="submitted && !direccion.ciudad"
            >Ciudad es required.</small
            >
          </div>

          <div class="p-field">
            <label for="codigoPostal">Código Postal</label>
            <input
              type="text"
              pInputText
              id="codigoPostal"
              [(ngModel)]="direccion.codigoPostal"
              required
              autofocus
            />
            <small class="p-invalid" *ngIf="submitted && !direccion.ciudad"
            >Código Postal es required.</small
            >
          </div>
        </div>

      </p-accordionTab>
      <p-accordionTab header="Datos Cliente Poliza" [selected]="true">
        <div class="p-grid p-fluid">
          <div class="p-col-12 p-md-6">
            <div class="p-field">
              <label for="numeroCertificado">Número Certificado</label>
              <input type="text" pInputText id="numeroCertificado" [(ngModel)]="numeroCertificado" readonly autofocus/>
            </div>
          </div>
          <div class="p-col-12 p-md-6">
            <div class="p-field">
              <label for="parentesco">Parentesco</label>
              <input type="text" pInputText id="parentesco" [(ngModel)]="parentesco" required autofocus/>
              <small class="p-invalid" *ngIf="submitted && !parentesco">Parentesco is required.</small>
            </div>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Datos Cliente Membresía" [selected]="true" *ngIf="!selectedCliente && !cargaFamiliar?.id">
        <div class="p-field">
          <label for="numeroMembresia">Número Membresía</label>
          <input type="text" pInputText id="numeroMembresia" [(ngModel)]="numeroMembresia" autofocus/>
          <small class="p-invalid" *ngIf="submitted && !numeroMembresia">Numero membresía es requerido.</small>
        </div>
          <div class="p-field">
            <label for="membresiaId">Membresia</label>
            <p-autoComplete
              dropdown = "true"
              [(ngModel)]="membresia"
              [showEmptyMessage]="true"
              readonly
              [suggestions]="filteredMembresias"
              (completeMethod)="filterMembresia($event)"
              field="nombres"
              [minLength]="1"
              [appendTo]="'body'"
              required>

              <!-- Template for the items in the suggestion list -->
              <ng-template let-membresia pTemplate="item">
                <div>
                  <span>{{ membresia.nombres }} [{{ membresia.vigenciaMeses }} meses]</span>
                </div>
              </ng-template>
            </p-autoComplete>
            <small class="p-invalid" *ngIf="submitted && !membresia">Membresia es requerido.</small>
          </div>
          <div class="p-field" *ngIf="vigenciaMeses">
            <label for="vigencia">Vigencia</label>
            <input
              type="text"
              pInputText
              id="vigencia"
              [(ngModel)]="vigenciaMeses"
              required
              readonly
              autofocus
            />
          </div>
          <div class="p-field">
            <label for="fechaInicio">Fecha de Inicio</label>
            <p-calendar [(ngModel)]="clienteMembresia.fechaInicio" dateFormat="dd/mm/yy" [disabled]="true"
                        [showIcon]="true"></p-calendar>
          </div>
          <div class="p-field">
            <label for="fechaFin">Fecha de Fin</label>
            <p-calendar [(ngModel)]="clienteMembresia.fechaFin" dateFormat="dd/mm/yy" [showIcon]="true"
                        [disabled]="true"></p-calendar>
          </div>

      </p-accordionTab>
    </p-accordion>
    <p-blockUI [blocked]="loading">
      <div class="p-field" *ngIf="loading">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </p-blockUI>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()"></button>
    <button pButton pRipple label="Guardar" [disabled]="!validarCreacion" icon="pi pi-check" class="p-button-text"
            (click)="saveCargaFamiliar()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
