<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left"> </ng-template>
    <ng-template pTemplate="right">
      <button
        pButton
        pRipple
        label="Nuevo"
        icon="pi pi-plus"
        [disabled]="!activarCreate"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="beneficios"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['nombre', 'descripcion']"
    [(selection)]="selectedBeneficios"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Administrar Beneficios</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="filterGlobal($event, dt)"
            placeholder="Buscar..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="nombre">
          Nombre <p-sortIcon field="nombre"></p-sortIcon>
        </th>
        <th pSortableColumn="descripcion">
          Descripción <p-sortIcon field="descripcion"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-beneficio>
          <tr>
            <td>
              <p-tableCheckbox [value]="beneficio"></p-tableCheckbox>
            </td>
            <td>{{ beneficio.nombre }}</td>
            <td>{{ beneficio.descripcion }}</td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-rounded p-button-success p-mr-2"
                (click)="editBeneficio(beneficio); $event.stopPropagation()"
              ></button>
              <button
                pButton
                pRipple
                [disabled]="!activarCreate"
                icon="pi pi-trash"
                class="p-button-rounded p-button-warning"
                (click)="deleteBeneficio(beneficio); $event.stopPropagation()"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            En total existen {{ beneficios ? beneficios.length : 0 }} registros.
          </div>
        </ng-template>
        <p-blockUI [blocked]="loading">
          <div class="p-field" *ngIf="loading">
            <p-progressSpinner></p-progressSpinner>
          </div>
        </p-blockUI>
      </p-table>
    </div>
    
    <p-dialog
      [(visible)]="beneficioDialog"
      [style]="{ width: '500px' }"
      header="Beneficio Detalle"
      [modal]="true"
      styleClass="p-fluid"
    >
      <ng-template pTemplate="content">
        <div class="p-field">
          <label for="membresia">Membresía</label>
          <input
            type="text"
            pInputText
            id="membresia"
            [(ngModel)]="membresia.nombres"
            readonly
            required
          />
          <small class="p-invalid" *ngIf="submitted && !beneficio.membresia">
            Membresía es requerida.
          </small>
        </div>
    
        <div class="p-field">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            pInputText
            id="nombre"
            [(ngModel)]="beneficio.nombre"
            required
            autofocus
          />
          <small class="p-invalid" *ngIf="submitted && !beneficio.nombre">
            Nombre es requerido.
          </small>
        </div>
        <div class="p-field">
          <label for="descripcion">Descripción</label>
          <input
            type="text"
            pInputText
            id="descripcion"
            [(ngModel)]="beneficio.descripcion"
            required
          />
          <small class="p-invalid" *ngIf="submitted && !beneficio.descripcion">
            Descripción es requerida.
          </small>
        </div>
       
        <p-blockUI [blocked]="loading">
          <div class="p-field" *ngIf="loading">
            <p-progressSpinner></p-progressSpinner>
          </div>
        </p-blockUI>
      </ng-template>
    
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="Guardar"
          icon="pi pi-check"
          class="p-button-text"
          (click)="saveBeneficio()"
        ></button>
      </ng-template>
    </p-dialog>
    
    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
    