.card-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los p-card se envuelvan a la siguiente línea si no caben en una sola fila */
    justify-content: left; /* Centra los p-card horizontalmente */
    gap: 2em; /* Añade espacio entre los p-card */
  }
  
  
  /* Media query para pantallas más pequeñas */
  @media screen and (max-width: 600px) {
    .card-container {
      justify-content: flex-start; /* Alinea los p-card a la izquierda en pantallas más pequeñas */
    }
  }

  .menu-content {
    text-align: center;
  }
  
  /* Estilos para los p-card con la clase card-custom */
.menu-item {
    width: 15rem;
    margin-bottom: 2em;
}
  