<p-toast *ngIf="!originCaso"></p-toast>
<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">

      <h5 class="p-m-0" *ngIf="!originCaso">Administrar Reclamos</h5>
      <h6 class="p-m-0" *ngIf="originCaso">Reclamos</h6>


    </ng-template>

    <ng-template pTemplate="right">
      <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success p-mr-2 medium-button"
              (click)="redirectToDetailReclamacionPage()"></button>
    </ng-template>
  </p-toolbar>
  <p-panel *ngIf="!originCaso">
    <div class="filter-container">
      <!-- Filtro por Cliente -->
      <p-autoComplete [(ngModel)]="selectedCliente" [suggestions]="filteredClientes"
                      (completeMethod)="filterClientes($event)" field="nombreUsuario" [dropdown]="true"
                      (ngModelChange)="loadPolizas()"
                      placeholder="Filtrar por Cliente" [size]="30" [minLength]="1" [disabled]="false"
                      [forceSelection]="true"
                      [maxlength]="50">
      </p-autoComplete>


      <!-- Filtro por Póliza -->
      <p-autoComplete [(ngModel)]="selectedClientePoliza" [suggestions]="filteredPolizas"
                      (completeMethod)="filterPolizas($event)" field="displayName" [dropdown]="true"
                      placeholder="Filtrar por Póliza"
                      [size]="30" [minLength]="1" [disabled]="!selectedCliente" [forceSelection]="true"
                      [maxlength]="50">
      </p-autoComplete>

      <p-autoComplete
        [(ngModel)]="selectedCaso"
        [suggestions]="filteredCasos"
        (completeMethod)="filterCasos($event)"
        field="displayName"
        [dropdown]="true"
        placeholder="Filtrar por Caso"
        [disabled]="!selectedClientePoliza?.id">
      </p-autoComplete>

      <button pButton pRipple class="p-button-primary p-mr-2" (click)="manageListado()">Buscar</button>
    </div>
  </p-panel>

  <p-table #dt [value]="reclamaciones"
           [(selection)]="selectedReclamaciones"
           [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
           [showCurrentPageReport]="true"
           (onSort)="onSort($event)"
           [customSort]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0"></h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="filterGlobal($event, dt)"
            placeholder="Buscar..."
          />
        </span>
      </div>

    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="codigo">Código
          <p-sortIcon field="codigo"></p-sortIcon>
        </th>
        <th pSortableColumn="estado">Estado
          <p-sortIcon field="estado"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-reclamacion>
      <tr>
        <td>
          <p-tableCheckbox [value]="reclamacion"></p-tableCheckbox>
        </td>
        <td>{{ reclamacion.codigo }}</td>
        <td>{{ reclamacion.estado }}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2 medium-button"
                  (click)="editReclamacion(reclamacion)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning medium-button"
                  (click)="deleteReclamacion(reclamacion)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <p-blockUI [blocked]="loading">
        <div class="p-field" *ngIf="loading">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </p-blockUI>
      <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" [first]="first"
                   (onPageChange)="onPageChange($event)"></p-paginator>
      <div class="p-d-flex p-ai-center p-jc-between">
        En total existen {{ totalRecords ? totalRecords : 0 }} registros.
      </div>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog *ngIf="!originCaso" [style]="{width: '450px'}"></p-confirmDialog>
