<p-toast></p-toast>

<div class="card">

<!--  <p-toolbar styleClass="p-mb-4">-->
<!--    <ng-template pTemplate="left">-->
<!--      <h3></h3>-->
<!--    </ng-template>-->

<!--    <ng-template pTemplate="right">-->

<!--    </ng-template>-->
<!--  </p-toolbar>-->
<!-- -->
  <div class="card-header">
    <h3>Reportes</h3>
  </div>
  <div class="card-body">
    <div class="p-grid p-fluid">
      <div class="p-col-12 p-md-6">
        <div class="p-field">
          <label>Tipo de reporte</label>
          <p-dropdown
            [options]="opciones"
            [(ngModel)]="opcion"
            optionLabel="desc"
            optionValue="code"
            placeholder="Seleccione tipo de reporte">
          </p-dropdown>

        </div>
      </div>
    </div>
    <app-reportes-clientes-aseg *ngIf="opcion == 'CLI_ASEG'"></app-reportes-clientes-aseg>
    <app-clientes-tit-dep *ngIf="opcion == 'CLI_TITULAR'"></app-clientes-tit-dep>
    <app-clientes-memb-venc *ngIf="opcion == 'CLI_MEMBR_VENC'"></app-clientes-memb-venc>
    <app-citas-medicas-reportes *ngIf="opcion == 'CLI_MEDICAS'"></app-citas-medicas-reportes>
    <app-casos-reportes *ngIf="opcion == 'CASOS'"></app-casos-reportes>
    <app-reclamaciones-reportes *ngIf="opcion == 'REEMBOLSOS'"></app-reclamaciones-reportes>
  </div>
</div>


  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
