<p-toast></p-toast>

<div class="card">

  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left"> </ng-template>

    <ng-template pTemplate="right">
      <button
        pButton
        pRipple
        label="Nueva"
        icon="pi pi-plus"
        [disabled]="!activarCreate"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="centrosMedicos"
    [(selection)]="selectedCentrosMedicos"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
    (onSort)="onSort($event)"
    [customSort]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Reportes</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="filterGlobal($event, dt)"
            placeholder="Buscar..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="nombre">
          Nombre <p-sortIcon field="nombre"></p-sortIcon>
        </th>
        <th pSortableColumn="descripcion">
          Descripción <p-sortIcon field="descripcion"></p-sortIcon>
        </th>
        <th pSortableColumn="correoElectronico">
          Correo Electrónico <p-sortIcon field="correoElectronico"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-centroMedico>
      <tr>
        <td>
          <p-tableCheckbox [value]="centroMedico"></p-tableCheckbox>
        </td>
        <td>{{ centroMedico.nombre }}</td>
        <td>{{ centroMedico.descripcion }}</td>
        <td>{{ centroMedico.correoElectronico }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2 medium-button"
            (click)="editCentroMedico(centroMedico); $event.stopPropagation()"
          ></button>
          <button
            pButton
            pRipple
            [disabled]="!activarCreate"
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning medium-button"
            (click)="deleteCentroMedico(centroMedico); $event.stopPropagation()"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <p-blockUI [blocked]="loading">
        <div class="p-field" *ngIf="loading">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </p-blockUI>
      <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" [first]="first" (onPageChange)="onPageChange($event)" ></p-paginator>
      <div class="p-d-flex p-ai-center p-jc-between">
        En total existen {{totalRecords ? totalRecords : 0  }} registros.
      </div>
    </ng-template>

  </p-table>
</div>

<p-dialog
  [(visible)]="centroMedicoDialog"
  [style]="{ width: '500px' }"
  header="Centro Médico Detalle"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        pInputText
        id="nombre"
        [(ngModel)]="centroMedico.nombre"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !centroMedico.nombre"
        >Nombre es requerido.</small
      >
    </div>
    <div class="p-field">
      <label for="descripcion">Descripción</label>
      <input
        type="text"
        pInputText
        id="descripcion"
        [(ngModel)]="centroMedico.descripcion"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !centroMedico.descripcion"
      >Descripción es requerido.</small>
    </div>
    <div class="p-field">
      <label for="correoElectronico">Correo Electrónico</label>
      <input
        type="text"
        pInputText
        id="correoElectronico"
        [(ngModel)]="centroMedico.correoElectronico"
        required
      />
      <small
        class="p-invalid"
        *ngIf="submitted && !centroMedico.correoElectronico"
        >Correo Electrónico es requerido.</small
      >
    </div>

    <div class="p-field">
      <label for="direccionUno">Dirección</label>
      <input
        type="text"
        pInputText
        id="direccionUno"
        [(ngModel)]="direccion.direccionUno"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !direccion.direccionUno"
      >Dirección uno es required.</small
      >
    </div>

    <div class="p-field">
      <label for="direccionDos">Dirección (2)</label>
      <input
        type="text"
        pInputText
        id="direccionDos"
        [(ngModel)]="direccion.direccionDos"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !direccion.direccionDos"
      >Dirección dos es required.</small
      >
    </div>

    <div class="p-field">
      <label for="paisesId">País</label>
      <p-autoComplete
        [(ngModel)]="pais"
        [showEmptyMessage]="true"
        [suggestions]="filteredPaises"
        (completeMethod)="filterPaises($event)"
        dropdown="true"
        field="nombre"
        (ngModelChange)="loadEstados()"
        [minLength]="1"
        [appendTo]="'body'"
        required
      ></p-autoComplete>
      <small class="p-invalid" *ngIf="submitted && !pais"
      >País es requerido.</small
      >
    </div>

    <div class="p-field">
      <label for="asesoresId">Estado</label>
      <p-autoComplete
        [(ngModel)]="estado"
        [showEmptyMessage]="true"
        [suggestions]="filteredEstados"
        (completeMethod)="filterEstados($event)"
        [readonly]="!pais"
        dropdown="true"
        field="nombre"
        [minLength]="1"
        [appendTo]="'body'"
        required
      ></p-autoComplete>
      <small class="p-invalid" *ngIf="submitted && !estado">
        Estado es requerido.</small
      >
    </div>

    <div class="p-field">
      <label for="ciudad">Ciudad</label>
      <input
        type="text"
        pInputText
        id="ciudad"
        [(ngModel)]="direccion.ciudad"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !direccion.ciudad"
      >Ciudad es required.</small
      >
    </div>


    <p-blockUI [blocked]="loading">
      <div class="p-field" *ngIf="loading">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </p-blockUI>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      [disabled]="!activarCreate"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      [disabled]="!activarCreate"
      (click)="saveCentroMedico()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
