  <p-table
    #dt
    [value]="casos"
    [(selection)]="selectedCasos"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
    (onSort)="onSort($event)"
    [customSort]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <div>  <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom" label="Exportar"></button>
        </div>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="filterGlobal($event, dt)"
            placeholder="Buscar..."
          />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>
          Código Caso
        </th>
        <th>
          Tipo Actividad
        </th>
        <th>
          Código Actividad
        </th>
        <th>
          Cliente
        </th>
        <th>
          Póliza
        </th>
        <th>
          Aseguradora
        </th>
        <th>
          Centro Médico
        </th>
        <th>
          Médico
        </th>
        <th>
          Estado
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-caso>
      <tr>
<!--        CODIGO CASO-->
        <td>{{ caso[1] }}</td>
<!--        TIPO ACTIVIDAD-->
        <td>{{ caso[7] }}</td>
<!--        CODIGO ACTIVIDAD-->
        <td>{{ caso[2] }}</td>
<!--        CLIENTE-->
        <td>{{ caso[4] }}</td>
<!--        POLIZA-->
        <td>{{ caso[3] }}</td>
<!--        ASEGURADORA-->
        <td>{{ caso[9] }}</td>
<!--CENTRO MEDICA-->
        <td>{{ caso[10] }}</td>
<!--        MEDICO-->
        <td>{{ caso[8] }}</td>
        <td>
          <div class="estado-flag-table"
               [ngClass]="{'estado-verde': caso[5] === 'N', 'estado-rojo' : caso[5] === 'C',
               'estado-azul' :caso[5] === 'G', 'estado-eliminado' : caso[5] === 'I'}">{{ getEstadoLabel(caso[5]) }}
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <p-blockUI [blocked]="loading">
        <div class="p-field" *ngIf="loading">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </p-blockUI>
      <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" [first]="first" (onPageChange)="onPageChange($event)" ></p-paginator>
      <div class="p-d-flex p-ai-center p-jc-between">
        En total existen {{totalRecords ? totalRecords : 0  }} registros.
      </div>
    </ng-template>

  </p-table>
