<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <h5 class="p-m-0">Migraciones</h5>
    </ng-template>
    <ng-template pTemplate="right">
      <a pButton pRipple class="p-button-raised  excel-button" [href]="downloadUrl" download="CLIENTES_POLIZAS_FORMAT.xlsx">
        <i class="pi pi-file-excel" aria-hidden="true"></i>
        Descargar formato
      </a>
    </ng-template>
  </p-toolbar>
  <p-panel>
    <div class="filter-container">
      <p-fileUpload mode="basic"
                    accept=".csv, .xlsx"
                    [maxFileSize]="1000000"
                    label="Importar"
                    chooseLabel="Seleccionar archivo"
                    #fileUploadRef
                    (onSelect)="onFileSelected($event)"
                    class="mr-2 inline-block"></p-fileUpload>
<!--      <button pButton pRipple icon="pi pi-trash"-->
<!--              class="p-button-danger p-button-icon-only"-->
<!--              (click)="clearImageSelection(fileUploadRef)"></button>-->

<!--      <button style = "margin-left: 30px" pButton pRipple class="p-button-raised p-button-rounded p-button-success" (click)="sendDataToService(fileUploadRef)">Enviar</button>-->

      <!-- Botón para descargar el archivo -->

    </div>
  </p-panel>

  <br/>
  <!-- Tabla para mostrar los datos del Excel -->
  <p-table [value]="excelData.slice(1)" *ngIf="excelData.length">

    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h4 class="p-m-0">Previsualización archivo cargado</h4>
        <span class="p-input-icon-left">
      <button pButton pRipple class="p-button-raised p-button-rounded p-button-danger" (click)="clearImageSelection(fileUploadRef)">Descartar</button>
      <button style = "margin-left: 5px" pButton pRipple class="p-button-raised p-button-rounded p-button-success" (click)="sendDataToService(fileUploadRef)">Subir</button>

        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let header of excelData[0]">{{ header }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td *ngFor="let cell of row; let i = index" >
          <div class="estado-flag-table" *ngIf="i  == 0"
               [ngClass]="{'estado-pendiente': cell === 'PENDIENTE', 'estado-verde': cell === 'MIGRADO', 'estado-rojo': cell === 'ERROR'}">{{ cell }}
          </div>
          <div *ngIf="i  != 0">{{ cell }}
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-blockUI [blocked]="loading">
    <div class="p-field" *ngIf="loading">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </p-blockUI>

</div>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
