<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <div>
        <h5><strong>Cliente:</strong> {{ cliente?.nombreUsuario }}</h5>
      </div>
    </ng-template>
    <ng-template pTemplate="right">
      <button pButton pRipple label="Nueva" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="clientePolizas"
           [(selection)]="selectedClientesPolizas"
           [rowHover]="true"
           dataKey="id"
           currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
           [showCurrentPageReport]="true"
           (onSort)="onSort($event)"
           [customSort]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Administrar Pólizas de Clientes</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="filterGlobal($event, dt)" placeholder="Buscar..."/>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="id">
          Código
          <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="poliza">
          Poliza
          <p-sortIcon field="poliza"></p-sortIcon>
        </th>
        <th pSortableColumn="asesor">
          Asesor
          <p-sortIcon field="asesor"></p-sortIcon>
        </th>
        <th pSortableColumn="agente">
          Agente
          <p-sortIcon field="agente"></p-sortIcon>
        </th>
        <th pSortableColumn="fechaInicio">
          Fecha Inicio
          <p-sortIcon field="fechaInicio"></p-sortIcon>
        </th>
        <th pSortableColumn="fechaFin">
          Fecha Fin
          <p-sortIcon field="fechaFin"></p-sortIcon>
        </th>
        <th style="width: 250px;"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-clientePoliza>
      <tr>
        <td>
          <p-tableCheckbox [value]="clientePoliza"></p-tableCheckbox>
        </td>
        <td>{{ clientePoliza.id }}</td>
        <td>{{ clientePoliza.poliza.nombre }}</td>
        <td>{{ clientePoliza.asesor.nombreUsuario }}</td>
        <td>{{ clientePoliza.agente.nombreUsuario }}</td>
        <td>{{ clientePoliza.fechaInicio }}</td>
        <td>{{ clientePoliza.fechaFin }}</td>

        <td>
          <button
            pButton
            pRipple
            class="p-button-rounded p-button-primary p-mr-2 small-button"
            (click)="redirectToCargasFamiliaresPage(clientePoliza); $event.stopPropagation()"
          >Cargas Fam.
          </button>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2 small-button"
                  (click)="editPoliza(clientePoliza)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning small-button"
                  (click)="deletePoliza(clientePoliza)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <p-blockUI [blocked]="loading">
        <div class="p-field" *ngIf="loading">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </p-blockUI>
      <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" [first]="first" (onPageChange)="onPageChange($event)" ></p-paginator>
      <div class="p-d-flex p-ai-center p-jc-between">
        En total existen {{ totalRecords ? totalRecords : 0 }} registros.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="polizaDialog" [style]="{ width: '500px' }" header="Detalle de Póliza" [modal]="true"
          styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="asesoresId">Aseguradora</label>
      <p-autoComplete
        dropdown="true"
        [(ngModel)]="aseguradora"
        [showEmptyMessage]="true"
        [suggestions]="filteredAseguradoras"
        (completeMethod)="filterAseguradoras($event)"
        field="nombre"
        (ngModelChange)="changeAseguradora(aseguradora)"
        [minLength]="1"
        [appendTo]="'body'"
        required
      ></p-autoComplete>
      <small class="p-invalid" *ngIf="submitted && !aseguradora"
      >Asesor es requerido.</small
      >
    </div>
    <div class="p-field">
      <label for="asesoresId">Poliza</label>
      <p-autoComplete
        dropdown="true"
        [(ngModel)]="poliza"
        [showEmptyMessage]="true"
        [suggestions]="filteredPolizas"
        (completeMethod)="filterPolizas($event)"
        (ngModelChange)="calcularFechaFin()"
        [disabled]="!aseguradora"
        field="nombre"
        [minLength]="1"
        [appendTo]="'body'"
        required
      ></p-autoComplete>
      <small class="p-invalid" *ngIf="submitted && !poliza"
      >Poliza es requerido.</small
      >
    </div>
    <div class="p-field" *ngIf="vigenciaMeses">
      <label for="vigencia">Vigencia</label>
      <input
        type="text"
        pInputText
        id="vigencia"
        [(ngModel)]="vigenciaMeses"
        required
        readonly
        autofocus
      />
    </div>
    <div class="p-field">
      <label for="fechaInicio">Fecha de Inicio</label>
      <p-calendar [(ngModel)]="polizaCliente.fechaInicio" (ngModelChange)="calcularFechaFin()" dateFormat="dd/mm/yy"
                  [showIcon]="true"></p-calendar>
      <small class="p-invalid" *ngIf="submitted && !polizaCliente.fechaInicio">Fecha de Inicio es requerido.</small>
    </div>
    <div class="p-field">
      <label for="fechaFin">Fecha de Fin</label>
      <p-calendar [(ngModel)]="polizaCliente.fechaFin" dateFormat="dd/mm/yy" [showIcon]="true"
                  [disabled]="true"></p-calendar>
    </div>

    <div class="p-field">
      <label for="asesoresId">Cliente</label>
      <p-autoComplete
        [(ngModel)]="cliente"
        [showEmptyMessage]="true"
        [suggestions]="filteredClientes"
        (completeMethod)="filterClientes($event)"
        readonly="true"
        field="nombreUsuario"
        [minLength]="1"
        [appendTo]="'body'"
        required
      ></p-autoComplete>
      <small class="p-invalid" *ngIf="submitted && !cliente"
      >Cliente es requerido.</small
      >
    </div>

    <div class="p-field">
      <label for="asesoresId">Asesor</label>
      <p-autoComplete
        [(ngModel)]="asesor"
        [showEmptyMessage]="true"
        [suggestions]="filteredAsesores"
        (completeMethod)="filterAsesores($event)"
        [disabled]="user.rol.id == ROL_ASESOR_ID"
        [dropdown]="user.rol.id != ROL_ASESOR_ID"
        field="nombreUsuario"
        [minLength]="1"
        [appendTo]="'body'"
        required
      ></p-autoComplete>
      <small class="p-invalid" *ngIf="submitted && !asesor"
      >Asesor es requerido.</small
      >
    </div>

    <div class="p-field">
      <label for="asesoresId">Agente</label>
      <p-autoComplete
        [(ngModel)]="broker"
        [showEmptyMessage]="true"
        [suggestions]="filteredBrokers"
        (completeMethod)="filterBrokers($event)"
        field="nombreUsuario"
        dropdown="true"
        [minLength]="1"
        [appendTo]="'body'"
        required
      ></p-autoComplete>
      <small class="p-invalid" *ngIf="submitted && !broker"
      >Agente es requerido.</small
      >
    </div>

  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="savePoliza()"></button>
  </ng-template>
</p-dialog>
