<p-toast></p-toast>

<div class="card" id="main-card">
  <div class="estado-flag" *ngIf="citaMedica?.estado"
       [ngClass]="{'estado-verde': citaMedica?.estado === 'N', 'estado-rojo' : citaMedica?.estado === 'C',
               'estado-azul' : citaMedica?.estado === 'G', 'estado-eliminado' : citaMedica?.estado === 'I'}">{{ getEstadoLabel(citaMedica?.estado) }}
  </div>

  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <h5 class="p-m-0">{{ codigoDocumento }}</h5>
    </ng-template>

    <ng-template pTemplate="right">
      <!-- Puedes agregar botones adicionales en la parte derecha del toolbar si es necesario -->
    </ng-template>
  </p-toolbar>

  <div class="card">
    <p-panel header="Cliente Póliza">
      <div class="filter-container">
        <!-- Filtro por Cliente -->
        <p-autoComplete
          [(ngModel)]="selectedCliente"
          [suggestions]="filteredClientes"
          (completeMethod)="filterClientes($event)"
          field="nombreUsuario"
          [dropdown]="!citaMedica?.id && !originCaso"
          (ngModelChange)="loadPolizas()"
          [readonly]="citaMedica || originCaso"
          placeholder="Filtrar por Cliente">
        </p-autoComplete>

        <!-- Filtro por Póliza -->
        <p-autoComplete
          [(ngModel)]="selectedClientePoliza"
          [suggestions]="filteredPolizas"
          (completeMethod)="filterPolizas($event)"
          field="displayName"
          [dropdown]="!citaMedica?.id && !originCaso"
          placeholder="Filtrar por Póliza"
          [disabled]="!selectedCliente?.id"
          [readonly]="citaMedica?.id || originCaso">
        </p-autoComplete>

        <p-autoComplete
          [(ngModel)]="selectedCaso"
          [suggestions]="filteredCasos"
          (completeMethod)="filterCasos($event)"
          field="displayName"
          [dropdown]="!citaMedica?.id && !originCaso"
          placeholder="Filtrar por Caso"
          [disabled]="!selectedClientePoliza?.id"
          [readonly]="citaMedica?.id || originCaso">
        </p-autoComplete>
      </div>
    </p-panel>
  </div>

  <div class="card" *ngIf="citaMedica">
    <p-panel styleClass="p-fluid" header="Detalles de Cita Médica">
      <div class="p-field">
        <label for="fechaTentativa">Fecha Tentativa *</label>
        <p-calendar [(ngModel)]="citaMedica.fechaTentativa" dateFormat="dd/mm/yy" [showIcon]="true"
                    [disabled]="readOnlyForm"
                    required></p-calendar>
        <small class="p-invalid" *ngIf="submitted && !citaMedica.fechaTentativa">Fecha tentativa es requerida.</small>
      </div>
      <div class="p-field">
        <label for="ciudadPreferencia">Ciudad de preferencias</label>
        <input type="text" pInputText id="ciudadPreferencia" [(ngModel)]="citaMedica.ciudadPreferencia"
               [readonly]="readOnlyForm" required autofocus/>
      </div>
      <div class="p-field" *ngIf="selectedClientePoliza?.id">
        <label for="aseguradora">Aseguradora</label>
        <input type="text" pInputText id="aseguradora" [(ngModel)]="selectedClientePoliza.poliza.aseguradora.nombre"
               readonly/>
      </div>

      <div class="p-field">
        <label for="centroMedicoId">Hospital</label>
        <p-autoComplete
          dropdown="true"
          [(ngModel)]="centroMedico"
          [showEmptyMessage]="true"
          [suggestions]="filteredCentrosMedicos"
          (completeMethod)="filterCentrosMedicos($event)"
          field="nombre"
          [minLength]="1"
          [readonly]="readOnlyForm"
          [dropdown]="!readOnlyForm"
          [appendTo]="'body'">
        </p-autoComplete>
      </div>
      <div class="p-field">
        <label for="medicoId">Dr. Preferencia</label>
        <p-autoComplete
          dropdown="true"
          [(ngModel)]="medicoCentroMedicoAseguradora"
          [showEmptyMessage]="true"
          [suggestions]="filteredMedicoCentroMedicoAseguradoras"
          (completeMethod)="filterMedicoCentroMedicoAseguradora($event)"
          field="medico.nombreCompleto"
          [minLength]="1"
          [disabled]="!centroMedico?.id"
          [readonly]="readOnlyForm"
          [dropdown]="!readOnlyForm"
          [appendTo]="'body'">
        </p-autoComplete>
      </div>

      <div class="p-field">
        <label for="padecimiento">Padecimiento *</label>
        <textarea pInputTextarea id="padecimiento" [readonly]="readOnlyForm" [(ngModel)]="citaMedica.padecimiento"
                  required></textarea>
      </div>

      <div class="p-field">
        <label for="informacionAdicional">Información Adicional *</label>
        <textarea pInputTextarea id="informacionAdicional" [readonly]="readOnlyForm"
                  [(ngModel)]="citaMedica.informacionAdicional"
                  required></textarea>
      </div>

      <div class="p-field">
        <label for="requisitosAdicionales">Requisitos Adicionales</label>
        <div *ngFor="let requisito of requisitosAdicionales | keyvalue">
          <p-checkbox
            [(ngModel)]="requisitosAdicionales[requisito.key]"
            binary="true"
            [readonly]="readOnlyForm"
            name="requisitosAdicionales"
            [label]="requisito.key"
          ></p-checkbox>
        </div>
      </div>

      <div class="p-field">
        <label for="otrosRequisitos">Otros Requisitos</label>
        <textarea pInputTextarea id="otrosRequisitos" [readonly]="readOnlyForm" [(ngModel)]="citaMedica.otrosRequisitos"
                  required></textarea>
      </div>


      <div class="p-field">
        <label for="fotoCitaMedica">Foto Cita Médica</label>
        <div class="upload-container">
          <p-fileUpload [disabled]="readOnlyForm" name="fotoCitaMedica" #fileUploadRef (onSelect)="onFileSelect($event)"
                        mode="basic" [auto]="false"
                        accept="image/*" [chooseLabel]="nombreDocumento ? nombreDocumento : 'Seleccionar Archivo'"
                        customUpload="true"></p-fileUpload>
          <button *ngIf="imagePreview" [disabled]="readOnlyForm" pButton pRipple icon="pi pi-trash"
                  class="p-button-danger p-button-icon-only"
                  (click)="clearImageSelection(fileUploadRef)"></button>
        </div>
        <img *ngIf="(imagePreview && !citaMedica.id) || (imagePreview && editImage)" [src]="imagePreview"
             alt="Vista Previa" class="image-preview" (click)="showDialogImage()" loading="lazy"/>
        <img *ngIf="imagePreview && citaMedica.id && !editImage" [src]="'data:image/jpeg;base64,' + imagePreview"
             alt="Vista Previa" class="image-preview" (click)="showDialogImage()" loading="lazy"/>

        <br/>
      </div>

      <div class="custom-button-container">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" [disabled]="readOnlyForm" class="p-button-secondary"
                style="width: 30%;"
                (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" [disabled]="readOnlyForm" class="p-button-primary"
                style="width: 30%;"
                (click)="saveCitaMedica()"></button>
      </div>

      <p-blockUI [blocked]="loading">
        <div class="p-field" *ngIf="loading">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </p-blockUI>
    </p-panel>
  </div>
</div>
<div class="card" *ngIf="citaMedica?.id && !habilitarEdicionComentario">
  <p-panel styleClass="p-fluid" header="Comentarios">
    <div *ngFor="let comentario of comentarios; let i = index">
      <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 5px">
        <label for="nuevoComentario" style="font-weight: bold;">
          {{ comentario.usuarioComenta.nombreUsuario }} ({{ comentario.usuarioComenta.rol.nombre }})
        </label>
        <div class="custom-button-container"
             *ngIf="comentario.usuarioComenta.nombreUsuario == user.nombreUsuario && !readOnlyForm">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2 small-button"
                  (click)="iniciarEdicion(comentario)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-mr-2 small-button"
                  (click)="deleteComentario(comentario)"></button>
        </div>
      </div>
      <textarea id="nuevoComentario" [(ngModel)]="comentario.contenido" rows="3" pInputTextarea readonly></textarea>
      <div style="display: flex; justify-content: space-between; margin-bottom: 5px" *ngIf="comentario.imagenId">
        <div *ngIf="!comentario.imagePreview">
          <span style="color: #3B82F6"><b> Cargando Imágen... </b></span>
        </div>
        <img *ngIf="comentario.imagePreview"
             [src]="'data:image/jpeg;base64,' + comentario.imagePreview"
             alt="Vista Previa" class="image-preview" (click)="showDialogImageComments(comentario)" loading="lazy"/>
        <!-- Fecha de creación -->
        <div style="text-align: right; font-size: small" >
          <span>{{ comentario.lastModifiedDate | date: 'short' }}</span>
        </div>
      </div>
      <div style="text-align: right; font-size: small" *ngIf="!comentario.imagenId">
        <span>{{ comentario.lastModifiedDate | date: 'short' }}</span>
      </div>

      <hr class="comment-separator"/>

    </div>

    <div class="p-field">
      <h5>Añadir Comentario</h5>
      <textarea id="nuevoComentario" [readonly]="readOnlyForm" [(ngModel)]="nuevoComentario" rows="3"
                pInputTextarea></textarea>

      <div class="upload-container">
        <p-fileUpload [disabled]="readOnlyForm" name="newCommentImage" #fileUploadRefNew
                      (onSelect)="onNewCommentImageSelect($event)"
                      mode="basic" [auto]="false"
                      accept="image/*"
                      [chooseLabel]="nombreDocumentoComment ? nombreDocumentoComment : 'Seleccionar Archivo'"
                      customUpload="true"></p-fileUpload>
        <button *ngIf="newCommentImagePreview" [disabled]="readOnlyForm" pButton pRipple icon="pi pi-trash"
                class="p-button-danger p-button-icon-only"
                (click)="removeNewCommentImage(fileUploadRefNew)"></button>
      </div>

      <img *ngIf="newCommentImagePreview" [src]="newCommentImagePreview" (click)="showDialogNuevaImageComments()" alt="Vista Previa de Imagen"
           class="image-preview"/>
    </div>
    <div class="custom-button-container">
      <button pButton pRipple label="Cerrar"
              [disabled]="readOnlyForm || !habilitarCierreTramite"
              icon="pi pi-check"
              class="p-button-danger"
              style="width: 30%;"
              (click)="cerrarTramite()"></button>
      <button pButton pRipple label="Guardar"
              [disabled]="readOnlyForm" icon="pi pi-check" class="p-button-primary"
              style="width: 30%;"
              (click)="addComentario(fileUploadRefNew)"></button>
    </div>
  </p-panel>
</div>
<div class="card" *ngIf="habilitarEdicionComentario">
  <p-panel styleClass="p-fluid" header="Editar Comentario">
    <div class="p-field">
      <label for="editComentario" style="font-weight: bold;">{{ comentarioEdit.usuarioComenta.nombreUsuario }}
        ({{ comentarioEdit.usuarioComenta.rol.nombre }})</label>
      <textarea id="editComentario" [(ngModel)]="comentarioEdit.contenido" rows="3" pInputTextarea></textarea>

      <div class="upload-container">
        <p-fileUpload [disabled]="readOnlyForm" name="newCommentImage" #fileUploadRef
                      (onSelect)="onEditCommentImageSelect($event)"
                      mode="basic" [auto]="false"
                      accept="image/*"
                      [chooseLabel]="comentarioEdit.nombreDocumento ? comentarioEdit.nombreDocumento : 'Seleccionar Archivo'"
                      customUpload="true"></p-fileUpload>
        <button *ngIf="comentarioEdit.imagePreview" [disabled]="readOnlyForm" pButton pRipple icon="pi pi-trash"
                class="p-button-danger p-button-icon-only"
                (click)="removeEditCommentImage(fileUploadRef)"></button>
      </div>

      <img *ngIf="comentarioEdit.imagePreview && editImageComment" [src]="comentarioEdit.imagePreview"
           alt="Vista Previa" class="image-preview" (click)="showDialogImageComments(comentarioEdit)" loading="lazy"/>
      <img *ngIf="comentarioEdit.imagePreview && !editImageComment"
           [src]="'data:image/jpeg;base64,' + comentarioEdit.imagePreview"
           alt="Vista Previa" class="image-preview" (click)="showDialogImageComments(comentarioEdit)" loading="lazy"/>
    </div>
    <div class="custom-button-container">
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary" style="width: 30%;"
              (click)="cancelarEdicion()"></button>
      <button pButton pRipple label="Guardar"
              [disabled]="readOnlyForm" icon="pi pi-check" class="p-button-primary"
              style="width: 30%;"
              (click)="actualizarComentario()"></button>
    </div>
  </p-panel>
</div>

<!-- Agrega el siguiente código al final de tu plantilla -->
<p-dialog header="{{nombreDocumentoComplete}}" [(visible)]="displayDialog" [modal]="true" [style]="{width: '50vw'}">
  <img *ngIf="imageComplete && editingCommentImageComplete" [src]="imageComplete"
       alt="Vista Previa Completa" class="full-image-preview"/>
  <img *ngIf="imageComplete && !editingCommentImageComplete" [src]="'data:image/jpeg;base64,' + imageComplete"
       alt="Vista Previa Completa" class="full-image-preview"/>
</p-dialog>


<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
