<p-toast></p-toast>
<p-panel>
  <div class="filter-container">
    <!-- Filtro por Cliente -->
    <p-autoComplete [(ngModel)]="selectedCliente" [suggestions]="filteredClientes"
                    (completeMethod)="filterClientes($event)" field="displayName" [dropdown]="true"
                    placeholder="Filtrar por Cliente" [size]="30" [minLength]="1" [disabled]="false"
                    [forceSelection]="true"
                    [maxlength]="50">
    </p-autoComplete>


    <!-- Filtro por Póliza -->
    <p-autoComplete [(ngModel)]="selectedClientePoliza" [suggestions]="filteredPolizas"
                    (completeMethod)="filterPolizas($event)" field="displayName" [dropdown]="true"
                    placeholder="Filtrar por Póliza"
                    [size]="30" [minLength]="1" [disabled]="!selectedCliente" [forceSelection]="true"
                    [maxlength]="50">
    </p-autoComplete>
    <button pButton pRipple class="p-button-primary p-mr-2" (click)="cargarCargasFamiliares()">Buscar</button>
  </div>
</p-panel>
<p-table #dt [value]="clientePolizas"
         [(selection)]="selectedClientesPolizas"
         [rowHover]="true"
         dataKey="id"
         currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
         [showCurrentPageReport]="true"
         (onSort)="onSort($event)"
         [customSort]="true">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <div>  <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom" label="Exportar"></button>
      </div>
      <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="filterGlobal($event, dt)" placeholder="Buscar..."/>
        </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="titular">Titular
        <p-sortIcon field="titular"></p-sortIcon>
      </th>
      <th pSortableColumn="codigo">
        Póliza
        <p-sortIcon field="codigo"></p-sortIcon>
      </th>
      <th pSortableColumn="numeroCertificado">
        Num. Cert.
        <p-sortIcon field="numeroCertificado"></p-sortIcon>
      </th>
      <th pSortableColumn="cliente">Nombre
        <p-sortIcon field="cliente"></p-sortIcon>
      </th>
      <th pSortableColumn="cliente">Correo Electrónico
        <p-sortIcon
          field="cliente"></p-sortIcon>
      </th>
      <th pSortableColumn="cliente">
        Nombre Usuario
        <p-sortIcon field="cliente"></p-sortIcon>
      </th>
      <th pSortableColumn="parentesco">Parentesco
        <p-sortIcon field="parentesco"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cargaFamiliar>
    <tr>
      <td>{{ cargaFamiliar.titular?.cliente.displayName }} </td>
      <td>{{ cargaFamiliar.displayName }} </td>
      <td>{{ cargaFamiliar.numeroCertificado }} </td>
      <td>{{ cargaFamiliar.cliente.nombres }} {{ cargaFamiliar.cliente.apellidos }}</td>
      <td>{{ cargaFamiliar.cliente.correoElectronico }}</td>
      <td>{{ cargaFamiliar.cliente.displayName }}</td>
      <td>{{ cargaFamiliar.parentesco ? cargaFamiliar.parentesco : 'TITULAR' }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <p-blockUI [blocked]="loading">
      <div class="p-field" *ngIf="loading">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </p-blockUI>
    <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" [first]="first"
                 (onPageChange)="onPageChange($event)"></p-paginator>
    <div class="p-d-flex p-ai-center p-jc-between">
      En total existen {{ totalRecords ? totalRecords : 0 }} registros.
    </div>
  </ng-template>
</p-table>
