// Here you can add other styles

.small-button {
    font-size: 0.80rem; /* Ajusta el tamaño de la fuente */
    padding: 0.50rem; /* Ajusta el relleno */
    display: inline-flex; /* Usa flexbox para el contenido del botón */
    align-items: center; /* Alinea verticalmente el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    min-width: auto; /* Ajusta el ancho mínimo */
    min-height: auto; /* Ajusta la altura mínima */
    height: auto; /* Ajusta la altura automáticamente */
    width: auto; /* Ajusta el ancho automáticamente */
}

.small-button .pi {
    font-size: 0.80rem; /* Ajusta el tamaño del icono */
}


.medium-button {
    font-size: 0.95rem; /* Ajusta el tamaño de la fuente */
    padding: 0.50rem; /* Ajusta el relleno */
    display: inline-flex; /* Usa flexbox para el contenido del botón */
    align-items: center; /* Alinea verticalmente el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    min-width: auto; /* Ajusta el ancho mínimo */
    min-height: auto; /* Ajusta la altura mínima */
    height: auto; /* Ajusta la altura automáticamente */
    width: auto; /* Ajusta el ancho automáticamente */
}

.medium-button .pi {
    font-size: 0.95rem; /* Ajusta el tamaño del icono */
}

#main-card {
  position: relative; /* Necesario para el posicionamiento absoluto del flag */
}

.estado-flag {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white; /* Color del texto */
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.estado-flag-table {
  top: 10px;
  right: 10px;
  color: white; /* Color del texto */
  padding: 5px 10px;
  border-radius: 5px;
  width: 130px;
  text-align: center;
  font-size: 13px;
  //font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.estado-verde {
  background-color: #28a745; /* Verde para estado 'N' */
}

.estado-rojo {
  background-color: #dc3545; /* Rojo para estado 'C' */
}

.estado-azul {
  background-color: #3B82F6; /* Rojo para estado 'C' */
}

.estado-eliminado {
  background-color: #d3d3d3; /* Gris para estado "Draft" */
  color: rgba(25, 25, 25, 0.82); /* Letras negras */
}
