<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <div>
        <h5><strong>Médico:</strong> {{ nombreCompletoMedico }}</h5>
      </div>
    </ng-template>

    <ng-template pTemplate="right">
      <button pButton pRipple label="Nueva" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt
           [value]="medicoCentroMedicoAseguradoras"
           [(selection)]="selectedMedicoCentroMedicoAseguradoras"
           [rowHover]="true"
           dataKey="id"
           currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
           [showCurrentPageReport]="true"
           (onSort)="onSort($event)"
           [customSort]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Administrar Centros Médicos por Médico</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="filterGlobal($event, dt)" placeholder="Buscar..."/>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>

        <th pSortableColumn="centroMedico">
          Centro Médico
          <p-sortIcon field="centroMedico"></p-sortIcon>
        </th>
        <th pSortableColumn="aseguradora">
          Aseguradora
          <p-sortIcon field="aseguradora"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-medicoCentroMedicoAseguradora>
      <tr >
        <td>{{ medicoCentroMedicoAseguradora.centroMedico.nombre }}</td>
        <td>{{ medicoCentroMedicoAseguradora.aseguradora.nombre }}</td>

        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2 small-button"
                  (click)="editMedicoCentroMedicoAseguradora(medicoCentroMedicoAseguradora)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning small-button"
                  (click)="deleteMedicoCentroMedicoAseguradora(medicoCentroMedicoAseguradora)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <p-blockUI [blocked]="loading">
        <div class="p-field" *ngIf="loading">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </p-blockUI>
      <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" [first]="first" (onPageChange)="onPageChange($event)" ></p-paginator>
      <div class="p-d-flex p-ai-center p-jc-between">
        En total existen
        {{ medicoCentroMedicoAseguradoras ? medicoCentroMedicoAseguradoras.length : 0 }} registros.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="medicoCentroMedicoAseguradoraDialog" [style]="{ width: '500px' }" header="Detalle de Cliente Membresía"
          [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">

<!--    <div class="p-field">-->
<!--      <label for="clienteId">Cliente</label>-->
<!--      <p-autoComplete [(ngModel)]="cliente" [showEmptyMessage]="true" [suggestions]="filteredClientes"-->
<!--                      (completeMethod)="filterClientes($event)" field="nombreUsuario" [readonly]="clienteId"-->
<!--                      [minLength]="1" [appendTo]="'body'"-->
<!--                      required></p-autoComplete>-->
<!--      <small class="p-invalid" *ngIf="submitted && !cliente">Cliente es requerido.</small>-->
<!--    </div>-->
    <div class="p-field">
      <label for="centroMedicoId">Centro Médico</label>
      <p-autoComplete
        dropdown = "true"
        [(ngModel)]="centroMedico"
        [showEmptyMessage]="true"
        [suggestions]="filteredCentrosMedicos"
        (completeMethod)="filterCentrosMedicos($event)"
        field="nombre"
        [minLength]="1"
        [appendTo]="'body'"
        required>
      </p-autoComplete>
      <small class="p-invalid" *ngIf="submitted && !centroMedico">Centro médico es requerido.</small>
    </div>
    <div class="p-field">
      <label for="aseguradoraId">Aseguradora</label>
      <p-autoComplete
        dropdown = "true"
        [(ngModel)]="aseguradora"
        [showEmptyMessage]="true"
        [suggestions]="filteredAseguradoras"
        (completeMethod)="filterAseguradoras($event)"
        field="nombre"
        [minLength]="1"
        [appendTo]="'body'"
        required>
      </p-autoComplete>
      <small class="p-invalid" *ngIf="submitted && !aseguradora">Aseguradora es requerida.</small>
    </div>

    <p-blockUI [blocked]="loading">
      <div class="p-field" *ngIf="loading">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </p-blockUI>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
            (click)="saveMedicoCentroMedicoAseguradora()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
