<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left"> </ng-template>

    <ng-template pTemplate="right">
      <button
        pButton
        pRipple
        label="Nueva"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="usuariosMembresiasUsuAseguradora"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['usuario.nombreUsuario', 'membresia.nombres', 'aseguradora.nombre', 'asesor.usuario.nombreUsuario', 'broker.usuario.nombreUsuario']"
    [(selection)]="selectedClientesMembresia"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Administrar Clientes Membresías</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="filterGlobal($event, dt)"
            placeholder="Buscar..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="cliente">
          Cliente <p-sortIcon field="cliente"></p-sortIcon>
        </th>
        <th pSortableColumn="membresia">
          Membresía <p-sortIcon field="membresia"></p-sortIcon>
        </th>
        <th pSortableColumn="aseguradora">
          Aseguradora <p-sortIcon field="aseguradora"></p-sortIcon>
        </th>
        
        <th pSortableColumn="asesor">
            Asesor <p-sortIcon field="asesor"></p-sortIcon>
          </th>
          
        <th pSortableColumn="broker">
            Broker <p-sortIcon field="broker"></p-sortIcon>
          </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-clienteMembresia>
      <tr>
        <td>
          <p-tableCheckbox [value]="usuariosMembresiasUsuAseguradora"></p-tableCheckbox>
        </td>
        <td>{{ clienteMembresia.usuario.nombreUsuario }}</td>
        <td>{{ clienteMembresia.membresia.nombres }}</td>
        <td>{{ clienteMembresia.aseguradora.nombre }}</td>
        <td>{{ clienteMembresia.asesor.usuario.nombreUsuario  }}</td>
        <td>{{ clienteMembresia.broker.usuario.nombreUsuario  }}</td>
        
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            (click)="editClienteMembresia(clienteMembresia)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteClienteMembresia(clienteMembresia)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        En total existen
        {{ usuariosMembresiasUsuAseguradora ? usuariosMembresiasUsuAseguradora.length : 0 }} registros.
      </div>
    </ng-template>
    <p-blockUI [blocked]="loading">
        <div class="p-field" *ngIf="loading">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </p-blockUI>
  </p-table>
</div>

<p-dialog
  [(visible)]="clienteMembresiaDialog"
  [style]="{ width: '500px' }"
  header="Detalle de Cliente Membresía"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="aseguradoraId">Aseguradora</label>
      <p-autoComplete
        [(ngModel)]="aseguradora"
        [showEmptyMessage]="true"
        [suggestions]="filteredAseguradoras"
        (completeMethod)="filterAseguradora($event)"
        [disabled]="aseguradora"
        field="nombre"
        [minLength]="1"
        [appendTo]="'body'"
        required
      ></p-autoComplete>
      <!-- 
            <p-dropdown [options]="aseguradoras" [(ngModel)]="membresia.aseguradoraId" optionLabel="nombre" [showClear]="true" [appendTo]="'body'" required></p-dropdown> -->
      <small class="p-invalid" *ngIf="submitted && !aseguradora"
        >Aseguradora es requerido.</small
      >
    </div>
    <div class="p-field">
      <label for="membresiaId">Membresia</label>
      <p-autoComplete
        [(ngModel)]="membresia"
        [showEmptyMessage]="true"
        [suggestions]="filteredMembresias"
        (completeMethod)="filterMembresia($event)"
        [disabled]="membresia"
        field="nombres"
        [minLength]="1"
        [appendTo]="'body'"
        required
      ></p-autoComplete>
      <small class="p-invalid" *ngIf="submitted && !membresia"
        >Membresia es requerido.</small
      >
    </div>

    <div class="p-field">
      <label for="clienteId">Cliente</label>
      <p-autoComplete
        [(ngModel)]="cliente"
        [showEmptyMessage]="true"
        [suggestions]="filteredClientes"
        (completeMethod)="filterClientes($event)"
        field="nombreUsuario"
        [minLength]="1"
        [appendTo]="'body'"
        required
      ></p-autoComplete>
      <small class="p-invalid" *ngIf="submitted && !cliente"
        >Cliente es requerido.</small
      >
    </div>
    <div class="p-field">
        <label for="asesoresId">Asesor</label>
        <p-autoComplete
          [(ngModel)]="asesor"
          [showEmptyMessage]="true"
          [suggestions]="filteredAsesores"
          (completeMethod)="filterAsesores($event)"
          field="usuario.nombreUsuario"
          [minLength]="1"
          [appendTo]="'body'"
          required
        ></p-autoComplete>
        <small class="p-invalid" *ngIf="submitted && !asesor"
          >Asesor es requerido.</small
        >
      </div>
      <div class="p-field">
        <label for="brokerId">Broker</label>
        <p-autoComplete
          [(ngModel)]="broker"
          [showEmptyMessage]="true"
          [suggestions]="filteredBrokers"
          (completeMethod)="filterBrokers($event)"
          field="usuario.nombreUsuario"
          [minLength]="1"
          [appendTo]="'body'"
          required
        ></p-autoComplete>
        <small class="p-invalid" *ngIf="submitted && !broker"
          >Broker es requerido.</small
        >
      </div>
    <p-blockUI [blocked]="loading">
      <div class="p-field" *ngIf="loading">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </p-blockUI>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveClienteMembresia()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
