<p-toast></p-toast>

<p-table #dt [value]="clientePolizas"
         [(selection)]="selectedClientesPolizas"
         [rowHover]="true"
         dataKey="id"
         currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
         [showCurrentPageReport]="true"
         (onSort)="onSort($event)"
         [customSort]="true">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <div></div>
      <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="filterGlobal($event, dt)" placeholder="Buscar..."/>
        </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>

      <th pSortableColumn="cliente">
        Cliente
        <p-sortIcon field="cliente"></p-sortIcon>
      </th>
      <th pSortableColumn="poliza">
        Poliza
        <p-sortIcon field="poliza"></p-sortIcon>
      </th>
      <th pSortableColumn="asesor">
        Asesor
        <p-sortIcon field="asesor"></p-sortIcon>
      </th>
      <th pSortableColumn="agente">
        Agente
        <p-sortIcon field="agente"></p-sortIcon>
      </th>
      <th pSortableColumn="codigo">
        Código
        <p-sortIcon field="codigo"></p-sortIcon>
      </th>
      <th pSortableColumn="numeroCertificado">
        Num. Cert.
        <p-sortIcon field="numeroCertificado"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-clientePoliza>
    <tr>
      <td>{{ clientePoliza.cliente.nombreUsuario }}</td>
      <td>{{ clientePoliza.poliza.nombre }}</td>
      <td>{{ clientePoliza.asesor.nombreUsuario }}</td>
      <td>{{ clientePoliza.agente.nombreUsuario }}</td>
      <td>{{ clientePoliza.codigo }}</td>
      <td>{{ clientePoliza.numeroCertificado }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <p-blockUI [blocked]="loading">
      <div class="p-field" *ngIf="loading">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </p-blockUI>
    <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" [first]="first"
                 (onPageChange)="onPageChange($event)"></p-paginator>
    <div class="p-d-flex p-ai-center p-jc-between">
      En total existen {{ totalRecords ? totalRecords : 0 }} registros.
    </div>
  </ng-template>
</p-table>
