<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <p-blockUI [blocked]="loading">
    <div class="p-field" *ngIf="loading">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </p-blockUI>
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>

              <form [formGroup]="formularioContrasenia" (ngSubmit)="confirmar()">
                <h1>Cambiar contraseña</h1>
<br/>
                <h5>Contraseña actual</h5>
                <div class="p-field">
                  <p-password required="true" formControlName="contraseniaActual" [toggleMask]="true">

                  </p-password>
                </div>
                <h5>Nueva contraseña</h5>
                <div class="p-field">
                  <p-password formControlName="nuevaContrasenia" [toggleMask]="true" required="true">
                    <ng-template pTemplate="header">
                      <h6>Ingresa una contraseña</h6>
                    </ng-template>
                    <ng-template pTemplate="footer">
                      <p-divider></p-divider>
                      <p class="mt-2">Consideraciones</p>
                      <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                        <li>Al menos una minúscula</li>
                        <li>Al menos una mayúscula</li>
                        <li>Al menos un número</li>
                        <li>Mínimo 8 caracteres</li>
                      </ul>
                    </ng-template>
                  </p-password>
                </div>
                <h5>Confirmar nueva contraseña</h5>
                <div class="p-field">
                  <p-password formControlName="confirmarContrasenia" required="true" [toggleMask]="true">

                  </p-password>
                </div>
                <!--                <div class="p-field">-->
                <!--                  <label for="nombre">Nombre</label>-->
                <!--                  <input id="nombre" type="text" pInputText formControlName="nombre" />-->
                <!--                  <div *ngIf="miFormulario.get('nombre').invalid && miFormulario.get('nombre').touched" class="p-error">-->
                <!--                    El nombre es requerido.-->
                <!--                  </div>-->

                <span *ngIf="loginErrorMessage" class="text-danger">{{ loginErrorMessage }}</span>
                <c-row>
                  <c-col xs="6">
                    <button type="submit" cButton class="px-4" color="primary" (click)="confirmar()">
                      Confirmar
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card class="image-card">
            <c-card-body class="image-body">
              <img src="assets/img/brand/Isotipo1.png" alt="SignUp Image"
                   class="img-fluid"/>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
